*.user
*.cache
.vs
*.dll
*.exe
*.pdb
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*/bin/*
*/obj/*
*\obj\*
*/DesktopGatewayApi/DesktopGatewayApi/obj/Debug/*
*.props
src/Services/Weather/Weather.Domain/obj/project.assets.json
src/Services/Weather/Weather.Domain/obj/project.assets.json
